<a id="connexionLink" href="" ng-hide="connexionShow" ng-click="clickShowConnexion()">Connexion</a>
		<div id="blockConnexion" ng-show="connexionShow" ng-switch on="selection" >
			<div id="connexion" ng-switch-when="connexion" >
				<form method="post" action="index.html" >
					<p><input type="text" placeholder="Adresse e-mail" ng-model="pseudo"/></p>
					<p><input type="password" placeholder="password" ng-model="password"/></p>
					<button type="submit" class="btn btn-success">Se connecter</button>
				</form>
				<a href="file:///C:/Users/Jo/Desktop/MergeQuickySale/Merge/index.html#/inscription" ng-click="clickHideConnexion()">S'inscrire </a>
				<a href="" ng-click="clickSwitchLostPassword()">Mot de passe perdu</a>

			</div>
			<div id="lostPassword" ng-switch-when="lostPassword">
					<form method="post" action="index.html">
						<p><input type="text" placeholder="Adresse e-mail" ng-model="pseudo"/></p>
						<button type="submit" class="btn btn-info">Regénérer mot de passe</button>
					</form>
					<a href=""  ng-click="clickSwitchConnexion()">Connexion</a>
			</div>
		</div>