<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="text-center">
			<h1>QuickySale</h1>
			<h2>Inscription</h2>
			<div id="inscription" >
				<form method="post" action="index.html">
					<p><input class="form-control" type="text" placeholder="Adresse e-mail" ng-model="pseudo"/></p>
					<p><input class="form-control" type="password" placeholder="Mot de passse" ng-model="password"/></p>
					<p><input class="form-control" type="password" placeholder="Confirmation" ng-model="confirmationPassword"/></p>
					<button type="submit" class="btn btn-primary ">S'inscrire</button>
				</form>
				<a href="../index.html#/home/">Accueil</a>
			</div>
		</div>
	</div>
</div>
