@font-face {
	font-family: 'BauhausModern';
	src: url('BauhausModern.ttf');
}

body {
	background-image: url("pixel_weave.png");
}

#blockConnexion {
position : absolute;
top : 15px;
right : 0px;
 z-index : 1;
}

#connexionLink {
position : fixed;
top : 10px;
right : 25px;
 z-index : 1;
}

.center {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #337AB7;
	color: white;
}
/*
.table-hover > tbody > tr.selected-ad > td,
.table-hover > tbody > tr.selected-ad > th {
	background-color: #4288CA;
	color: white;
}
*/

.spacer {
	margin-top: 15px;
}

.spacer-left {
	margin-left: 15px;
}

img.preview {
	height : 150px;
	cursor: pointer;
}

.align-left {
	text-align: left;
}

.largeText {
	font-size: large;
}

.enlargedPicture {
	border-style: solid;
	border-width: medium;
}

.hightlightSearch {
	font-weight: bold;
}

.inputPrice {
	max-width: 150px;
}

h1 {
	font-size: 500%;
	font-family: 'BauhausModern';
}